/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  font-family: 'Montserrat', sans-serif;;
}


/* HERO-PAGE - Arty */

.hero-image {
  background-image: url(./images/Hero-image.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.header-bar {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  height: 50px;
  border-bottom: 2px groove lightgray;
}

.nav-bar {
  display: grid;
  grid-template-columns: 22vw 1fr 20vw;
  height: 100px;
}

.nav-bar__logo {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  text-align: right;
  line-height: 100px;
  padding-left: 1rem;
  color:darkgreen;
  text-shadow: 2px 2px 4px white;
}

.nav-bar__links {
  display: flex;
  justify-content: flex-end;
}

.nav-bar__links li {
  line-height: 100px;
  padding: 0 10px;
  list-style: none; 
}
.nav-bar__links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: darkgreen;
  padding: 10px; 
  text-shadow: 0px 1px 0px #000000;
}

.hero-center__container {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 55vh;
}

.hero-center > * {
  margin-bottom: 0.5rem; 
}

.hero-center__logo {
  background-size: contain;
  height: 5rem;
}

.hero-center__headline2 {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
}


.hero-center__button {
  margin-top: 1.5rem;
  padding: 10px 50px; 
  border-radius: 25px;
  background-color: #82bd44;
  color: white;
  font-weight: bold;
}





/* Page Section 1 - Ratko */

.ratko__sec-01 {
  width: 90%;
  margin: auto;
}

.sec-01__title {
  margin: 3rem auto;
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
}

/* navigation links */

.sec-01__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

@media screen and (min-width: 786px) {
  .sec-01__list {
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin:2rem auto;
    max-width: 1000px;
  }
}

.list__link {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: .1s ease;
}

.list__link:hover {
  color: rgb(163, 219, 89);
  border-bottom: 3px solid  rgb(163, 219, 89);
  transition: .1s ease;
  font-weight: 700;
}

/* Product cards */

.sec-01__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .5rem;
  justify-content: center;
  max-width: 1370px;
  margin: auto;
}

.grid-card {
  margin: .5rem auto;
  padding: 0.4rem;
  background-color: rgb(248, 248, 248);
  border-radius: 3px;
  width: 90vw;
  max-width: 400px;
  height: 430px; 
  transition: .7s ease;
}

.grid-card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: .4 ease;
  background-color: rgb(163, 219, 89);
  padding: 0;
  transform: scale(1.04);
}

.grid-card__header {
  background-color: white;
  height: 330px;
  padding: 3rem;
  transition: .5s ease;
}

.grid-card:hover > .grid-card__header {
  height: 280px;
  transition: .5s ease;
}

.grid-card:hover > .grid-card__body > .grid-card__price {
  transition: .5s ease;
  color: rgb(241, 241, 241);

}

.grid-card:hover > .grid-card__body > .grid-card__price::after {
  color:  rgb(241, 241, 241);
  transition: .5
  s ease;

}

.grid-card__image {
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 300px;
}

.grid-card__body {
  margin: 1rem auto;
}

.grid-card__title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.grid-card__price {
  display: block;
  text-align: center;
  color: rgb(163, 219, 89);
  font-size: 1.6rem;
  font-weight: 700;
  transition: .5s ease;

}

.grid-card__price::before {
  content: "€";
  font-size: 0.9rem;
  vertical-align: top;
  line-height: 1.4rem;
}

.grid-card__price::after {
  content: "/KG";
  font-size: 1.2rem;
  color: rgb(184, 184, 184);
}

/* view more button */

.sec-01__btn {
  margin: 4rem auto;
  text-align: center;
}

.btn__link {
  text-decoration: none;
  color: rgb(233, 233, 233);
  cursor: pointer;
  padding: 0.6rem 3.1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid rgb(233, 233, 233);
}

/* Page Section 2 - Ratko */

.ratko__sec-02 {
  background-color: rgb(248, 248, 248);
  padding: 2rem 0;
}

.sec-02__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.sec-02__grid-02 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-gap: 1rem;
  max-width: 1500px;
  margin: auto;
  justify-content: center;
}

@media screen and (min-width: 815px) {
  .sec-02__col-01-row-01 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .sec-02__col-03-row-01{
    grid-row: 3;
    grid-column: 2;
    margin-left: 1rem;
  }
  .col-01-row-01__image {
    margin: auto 6rem;
  }
}

@media screen and (min-width: 1231px) {
  .sec-02__col-03-row-01 {
    grid-column: 3;
    grid-row: 1/3;
  }

}

.col-01-row-01__image {
  object-fit: cover;
  width: 100%;
  max-width: 550px;
}

.col-03-row-01__title {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem auto;
}

.col-03-row-01__price {
  display: block;
  color: rgb(163, 219, 89);
  font-size: 1.1rem;
  height: 3rem;
}

.col-03-row-01__price::before {
  color: rgb(196, 196, 196);
  content: "Price:";
  font-size: 1.2rem;
  vertical-align: top;
  line-height: 3rem;
  font-weight: 700;
}

.col-03-row-01__price::after {
  content: "20.99";
  font-size: 2rem;
  vertical-align: top;
}

.grid-02__image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  transition: .7s ease;
}

.grid-02__image:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: .7s ease;
  transform: scale(1.04);
}

.sec-02__col-03-row-01 {
  margin-left: 2rem;
}

.col-03-row-01__list {
  list-style-type: square;
  margin-left: 2rem;
  margin-top: .5rem;
}

.ratko__sec-03 {
  background:url(./images/ratko-backg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 0 3rem 0;
  text-align: center;
}

.sec-03__tittle {
  font-size: 4rem;
  text-align: center;
  color: rgb(226, 226, 226);
  text-transform: capitalize;
}

.sec-03__circle-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.sec-03__circle-rel {
  width: 90%;
  margin: 3rem auto;
  position: relative;
  height: 18rem;
  width: 25rem;
}

.circle-rel__circle-abs {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: .15rem solid white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.circle-rel__circle-abs::before {
  height: 17rem;
  width: 17.1rem;
  border-radius: 50%;
  border: .15rem solid rgb(255, 255, 255);
  position: absolute;
  content: "";
  right: -.6rem;
  bottom: -.1rem;
}

.circle__span1 {
  color: white;
  font-size: 5rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: -2rem;
}

.circle__title {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
}

.circle__text {
  color: white;
  width: 80%;
  margin: 1rem auto;
}
/* MR.Heydar CSS */

.title {
  text-align: center;
  margin: 3rem 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.farmers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgb(248, 248, 248);
  box-shadow: 1px 1px 5px lightgray;
  justify-content: center;
  grid-template-areas: "img1" "t1" "img2" "t2" "img3" "t3";
}

.farmers__text {
  max-width: 350px;
  text-align: center;
  padding: 1.2rem;
  color: #a4a9aa;
  background: #fafafa;
}

.farmers__one {
  grid-area: img1;
}

.farmers__tOne {
  grid-area: t1;
}

.farmers__two {
  grid-area: img2;
}

.farmers__tTwo {
  grid-area: t2;
}

.farmers__three {
  grid-area: img3;
}

.farmers__tThree {
  grid-area: t3;
}

.farmers__img {
  text-align: center;
}

.farmers__img img {
  object-fit: cover;
  object-position: 80% 50%;
}

.farmers__channels i {
  margin: 10px 0;
  color: #a4a9aa;
  padding: 0 .5rem;
}

.farmers__tOne-button {
  border-radius: 20px;
  padding: 0.4rem;
  width: 7rem;
  background: #87be45;
  border: none;
  outline: none;
  color: white;
}

@media screen and (min-width: 610px) {
  .farmers {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 t2 img3" "t1 img2 t3";
    padding: 2rem;
  }
  @media screen and (min-width: 750px) {
    .farmers {
      max-width: 700px;
      justify-content: center;
      margin: 0 auto
    }
  }
  .middle__bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 50vh;
    margin: 3rem 0;
  }
  .middle__img {

  }
  .middle__img img {
    object-fit: cover;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
  }
  .middle__text {
    display: flex;
    flex-direction: column;
    color: white;
   text-align: center;
    flex-basis: 400px;
    margin-right: 3rem;
  }
  .middle__s1 {
    text-transform: capitalize;
    color: #7a9943;
  }
  .middle__p2 {
    text-transform: uppercase;
    font-size: large;
    text-align: center;
  }
  .middle__s2 {
    text-transform: uppercase;
    text-align: center;
    font-size: small;
  }

  .middle__s3 {
    font-size: 3rem;
  }

  .middle__s4 {
    text-transform: uppercase;
    font-size: larger;
  }

  .middle__article {
    text-align: center;
  }

  .middle-button {
    background: #82be42 ;
    width: 8rem;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: .4rem;
    color: #fff;
    margin: 0 auto;
  }

  /* @media screen and (max-width:480px) {
    .middle__bg {
      flex-wrap: wrap;
    }
  } */